In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
# Read suumo data into a pandas DataFrame
df_property = pd.read_csv('/app/data/sales_combo_property_geo.csv')
df_property.drop(["address_block"], axis=1, inplace=True)
df_property.rename(columns={'address': 'original_address'}, inplace=True)
df_property.head()

,Category,URL,price,plan,area,balcony_area,level,no_floors,year,original_address,features,rooms,living_room,dining_room,kitchen,storage,converted_address,latitude,longitude
0,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_7...,11900000.0,2DK,41.34,2.43,2.0,4.0,1979,東京都足立区花畑５-2-9,年内引渡可 / 即引渡可 / 角住戸 / 陽当り良好 / 全居室収納 / シャワー付洗面化粧...,2,False,True,True,0,東京都足立区花畑五丁目,35.807181,139.808077
1,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_taito/nc_75...,13800000.0,1K,16.45,2.69,5.0,9.0,1991,東京都台東区松が谷３-６－２,瑕疵保証付（不動産会社独自） / ２沿線以上利用可 / 内装リフォーム / 駅まで平坦 / ...,1,False,False,True,0,東京都台東区松が谷三丁目,35.716056,139.787213
2,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_taito/nc_75...,29800000.0,2DK,43.13,4.58,9.0,12.0,1975,東京都台東区下谷３-16-14,修繕・点検の記録 / ２沿線以上利用可 / 年度内引渡可 / 省エネ給湯器 / スーパー 徒...,2,False,True,True,0,東京都台東区下谷三丁目,35.725685,139.787644
3,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_koto/nc_741...,34900000.0,3LDK,64.96,7.53,4.0,14.0,1984,東京都江東区南砂１-19-1,スーパー 徒歩10分以内 / システムキッチン / セキュリティ充実 / ＴＶモニタ付インタ...,3,True,True,True,0,東京都江東区南砂一丁目,35.678826,139.822231
4,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_sumida/nc_7...,41800000.0,2LDK,54.13,8.92,7.0,10.0,2011,東京都墨田区墨田２,２沿線以上利用可 / リバーサイド / スーパー 徒歩10分以内 / システムキッチン / ...,2,True,True,True,0,東京都墨田区墨田二丁目,35.731596,139.816982

In [3]:
# Read 2020 cencus data into a pandas DataFrame
df_census = pd.read_csv('/app/data/tokyo_census_data_2020.csv')
df_census.head()

,address,prefecture,ward,district,block,total_population,male_population,female_population,foreign_population,households,total_workers,agriculture_forestry,agriculture,fishing,mining_quarrying,construction,manufacturing,electric_gas_water_supply,information_communication,transport_postal_services,wholesale_retail_trade,financial_insurance,real_estate_rental_leasing,scientific_technical_services,accommodation_food_services,other_services_amusement,education,health_social_services,complex_services,services_not_elsewhere_classified,public_administration,unclassified_industries,primary_industries,secondary_industries,tertiary_industries
0,東京都あきる野市,東京都,あきる野市,NaN,NaN,79292.0,39230.0,40062.0,839.0,31887.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,東京都あきる野市三内,東京都,あきる野市,三内,NaN,1106.0,547.0,559.0,8.0,399.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,東京都あきる野市上ノ台,東京都,あきる野市,上ノ台,NaN,26.0,15.0,11.0,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,東京都あきる野市上代継,東京都,あきる野市,上代継,NaN,946.0,477.0,469.0,12.0,391.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,東京都あきる野市下代継,東京都,あきる野市,下代継,NaN,1701.0,816.0,885.0,10.0,650.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [4]:
df_result = pd.merge(df_property, df_census, left_on='converted_address', right_on='address', how='left')
# df_result.drop(["address"], axis=1, inplace=True)
df_result.head()

,Category,URL,price,plan,area,balcony_area,level,no_floors,year,original_address,features,rooms,living_room,dining_room,kitchen,storage,converted_address,latitude,longitude,address,prefecture,ward,district,block,total_population,male_population,female_population,foreign_population,households,total_workers,agriculture_forestry,agriculture,fishing,mining_quarrying,construction,manufacturing,electric_gas_water_supply,information_communication,transport_postal_services,wholesale_retail_trade,financial_insurance,real_estate_rental_leasing,scientific_technical_services,accommodation_food_services,other_services_amusement,education,health_social_services,complex_services,services_not_elsewhere_classified,public_administration,unclassified_industries,primary_industries,secondary_industries,tertiary_industries
0,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_7...,11900000.0,2DK,41.34,2.43,2.0,4.0,1979,東京都足立区花畑５-2-9,年内引渡可 / 即引渡可 / 角住戸 / 陽当り良好 / 全居室収納 / シャワー付洗面化粧...,2,False,True,True,0,東京都足立区花畑五丁目,35.807181,139.808077,東京都足立区花畑五丁目,東京都,足立区,花畑,五丁目,3277.0,1677.0,1600.0,140.0,1908.0,2980.0,32.0,32.0,1.0,1.0,178.0,221.0,9.0,279.0,102.0,442.0,123.0,114.0,183.0,127.0,123.0,219.0,354.0,10.0,257.0,90.0,115.0,33.0,400.0,2432.0
1,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_taito/nc_75...,13800000.0,1K,16.45,2.69,5.0,9.0,1991,東京都台東区松が谷３-６－２,瑕疵保証付（不動産会社独自） / ２沿線以上利用可 / 内装リフォーム / 駅まで平坦 / ...,1,False,False,True,0,東京都台東区松が谷三丁目,35.716056,139.787213,東京都台東区松が谷三丁目,東京都,台東区,松が谷,三丁目,2439.0,1273.0,1166.0,103.0,1368.0,803.0,2.0,2.0,NaN,NaN,47.0,64.0,3.0,88.0,43.0,123.0,25.0,36.0,65.0,45.0,26.0,33.0,79.0,4.0,71.0,20.0,29.0,2.0,111.0,661.0
2,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_taito/nc_75...,29800000.0,2DK,43.13,4.58,9.0,12.0,1975,東京都台東区下谷３-16-14,修繕・点検の記録 / ２沿線以上利用可 / 年度内引渡可 / 省エネ給湯器 / スーパー 徒...,2,False,True,True,0,東京都台東区下谷三丁目,35.725685,139.787644,東京都台東区下谷三丁目,東京都,台東区,下谷,三丁目,2329.0,1185.0,1144.0,270.0,1385.0,1064.0,NaN,NaN,NaN,1.0,27.0,78.0,2.0,164.0,31.0,143.0,60.0,71.0,141.0,63.0,33.0,68.0,80.0,1.0,66.0,11.0,24.0,NaN,106.0,934.0
3,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_koto/nc_741...,34900000.0,3LDK,64.96,7.53,4.0,14.0,1984,東京都江東区南砂１-19-1,スーパー 徒歩10分以内 / システムキッチン / セキュリティ充実 / ＴＶモニタ付インタ...,3,True,True,True,0,東京都江東区南砂一丁目,35.678826,139.822231,東京都江東区南砂一丁目,東京都,江東区,南砂,一丁目,7092.0,3434.0,3658.0,184.0,3080.0,1275.0,5.0,5.0,NaN,1.0,37.0,110.0,3.0,151.0,43.0,164.0,58.0,88.0,114.0,56.0,47.0,88.0,158.0,1.0,71.0,33.0,47.0,5.0,148.0,1075.0
4,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_sumida/nc_7...,41800000.0,2LDK,54.13,8.92,7.0,10.0,2011,東京都墨田区墨田２,２沿線以上利用可 / リバーサイド / スーパー 徒歩10分以内 / システムキッチン / ...,2,True,True,True,0,東京都墨田区墨田二丁目,35.731596,139.816982,東京都墨田区墨田二丁目,東京都,墨田区,墨田,二丁目,3777.0,1901.0,1876.0,81.0,1865.0,1992.0,1.0,1.0,NaN,NaN,82.0,117.0,1.0,322.0,43.0,260.0,92.0,87.0,169.0,143.0,109.0,75.0,183.0,4.0,153.0,77.0,74.0,1.0,199.0,1718.0

In [5]:
print(f"{len(df_result)} {len(df_property)} {len(df_census)}")

20972 20972 6711

In [6]:
df_result.isna().sum().to_frame(name='NaNs').T

,Category,URL,price,plan,area,balcony_area,level,no_floors,year,original_address,features,rooms,living_room,dining_room,kitchen,storage,converted_address,latitude,longitude,address,prefecture,ward,district,block,total_population,male_population,female_population,foreign_population,households,total_workers,agriculture_forestry,agriculture,fishing,mining_quarrying,construction,manufacturing,electric_gas_water_supply,information_communication,transport_postal_services,wholesale_retail_trade,financial_insurance,real_estate_rental_leasing,scientific_technical_services,accommodation_food_services,other_services_amusement,education,health_social_services,complex_services,services_not_elsewhere_classified,public_administration,unclassified_industries,primary_industries,secondary_industries,tertiary_industries
NaNs,0,0,0,0,0,1383,0,1,0,0,416,0,0,0,0,0,0,0,0,343,343,343,343,1344,343,343,343,345,343,819,5207,5350,19394,15938,1145,968,3501,1062,1066,892,1318,1171,1099,977,1164,1034,971,4065,956,1320,1070,5097,920,819

In [7]:
# Store the list of column names from df_census to identify which columns to update
census_columns = df_census.columns.tolist()

# Find rows where address match was not found initially
mask = df_result['address'].isnull()

# Extract part of the address before any numbers (assuming this is your logic)
df_result['temp_address'] = df_result['original_address'].str.extract(r'(.*?)(?=\d+)', expand=False)

# Iterate through the masked rows and find matches based on the temporary modified address
for idx, row in df_result.loc[mask].iterrows():
    match = df_census[df_census['address'] == row['temp_address']]
    if not match.empty:
        # Update all columns from df_census for this row in df_result
        for col in census_columns:
            if col in df_result.columns:  # Check if the df_census column exists in df_result
                df_result.at[idx, col] = match[col].values[0]

# Drop the temporary address column after use
df_result.drop(columns=['temp_address'], inplace=True)
df_result.head()

,Category,URL,price,plan,area,balcony_area,level,no_floors,year,original_address,features,rooms,living_room,dining_room,kitchen,storage,converted_address,latitude,longitude,address,prefecture,ward,district,block,total_population,male_population,female_population,foreign_population,households,total_workers,agriculture_forestry,agriculture,fishing,mining_quarrying,construction,manufacturing,electric_gas_water_supply,information_communication,transport_postal_services,wholesale_retail_trade,financial_insurance,real_estate_rental_leasing,scientific_technical_services,accommodation_food_services,other_services_amusement,education,health_social_services,complex_services,services_not_elsewhere_classified,public_administration,unclassified_industries,primary_industries,secondary_industries,tertiary_industries
0,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_adachi/nc_7...,11900000.0,2DK,41.34,2.43,2.0,4.0,1979,東京都足立区花畑５-2-9,年内引渡可 / 即引渡可 / 角住戸 / 陽当り良好 / 全居室収納 / シャワー付洗面化粧...,2,False,True,True,0,東京都足立区花畑五丁目,35.807181,139.808077,東京都足立区花畑五丁目,東京都,足立区,花畑,五丁目,3277.0,1677.0,1600.0,140.0,1908.0,2980.0,32.0,32.0,1.0,1.0,178.0,221.0,9.0,279.0,102.0,442.0,123.0,114.0,183.0,127.0,123.0,219.0,354.0,10.0,257.0,90.0,115.0,33.0,400.0,2432.0
1,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_taito/nc_75...,13800000.0,1K,16.45,2.69,5.0,9.0,1991,東京都台東区松が谷３-６－２,瑕疵保証付（不動産会社独自） / ２沿線以上利用可 / 内装リフォーム / 駅まで平坦 / ...,1,False,False,True,0,東京都台東区松が谷三丁目,35.716056,139.787213,東京都台東区松が谷三丁目,東京都,台東区,松が谷,三丁目,2439.0,1273.0,1166.0,103.0,1368.0,803.0,2.0,2.0,NaN,NaN,47.0,64.0,3.0,88.0,43.0,123.0,25.0,36.0,65.0,45.0,26.0,33.0,79.0,4.0,71.0,20.0,29.0,2.0,111.0,661.0
2,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_taito/nc_75...,29800000.0,2DK,43.13,4.58,9.0,12.0,1975,東京都台東区下谷３-16-14,修繕・点検の記録 / ２沿線以上利用可 / 年度内引渡可 / 省エネ給湯器 / スーパー 徒...,2,False,True,True,0,東京都台東区下谷三丁目,35.725685,139.787644,東京都台東区下谷三丁目,東京都,台東区,下谷,三丁目,2329.0,1185.0,1144.0,270.0,1385.0,1064.0,NaN,NaN,NaN,1.0,27.0,78.0,2.0,164.0,31.0,143.0,60.0,71.0,141.0,63.0,33.0,68.0,80.0,1.0,66.0,11.0,24.0,NaN,106.0,934.0
3,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_koto/nc_741...,34900000.0,3LDK,64.96,7.53,4.0,14.0,1984,東京都江東区南砂１-19-1,スーパー 徒歩10分以内 / システムキッチン / セキュリティ充実 / ＴＶモニタ付インタ...,3,True,True,True,0,東京都江東区南砂一丁目,35.678826,139.822231,東京都江東区南砂一丁目,東京都,江東区,南砂,一丁目,7092.0,3434.0,3658.0,184.0,3080.0,1275.0,5.0,5.0,NaN,1.0,37.0,110.0,3.0,151.0,43.0,164.0,58.0,88.0,114.0,56.0,47.0,88.0,158.0,1.0,71.0,33.0,47.0,5.0,148.0,1075.0
4,used_apartments,https://suumo.jp/ms/chuko/tokyo/sc_sumida/nc_7...,41800000.0,2LDK,54.13,8.92,7.0,10.0,2011,東京都墨田区墨田２,２沿線以上利用可 / リバーサイド / スーパー 徒歩10分以内 / システムキッチン / ...,2,True,True,True,0,東京都墨田区墨田二丁目,35.731596,139.816982,東京都墨田区墨田二丁目,東京都,墨田区,墨田,二丁目,3777.0,1901.0,1876.0,81.0,1865.0,1992.0,1.0,1.0,NaN,NaN,82.0,117.0,1.0,322.0,43.0,260.0,92.0,87.0,169.0,143.0,109.0,75.0,183.0,4.0,153.0,77.0,74.0,1.0,199.0,1718.0

In [8]:
df_result.isna().sum().to_frame(name='NaNs').T

,Category,URL,price,plan,area,balcony_area,level,no_floors,year,original_address,features,rooms,living_room,dining_room,kitchen,storage,converted_address,latitude,longitude,address,prefecture,ward,district,block,total_population,male_population,female_population,foreign_population,households,total_workers,agriculture_forestry,agriculture,fishing,mining_quarrying,construction,manufacturing,electric_gas_water_supply,information_communication,transport_postal_services,wholesale_retail_trade,financial_insurance,real_estate_rental_leasing,scientific_technical_services,accommodation_food_services,other_services_amusement,education,health_social_services,complex_services,services_not_elsewhere_classified,public_administration,unclassified_industries,primary_industries,secondary_industries,tertiary_industries
NaNs,0,0,0,0,0,1383,0,1,0,0,416,0,0,0,0,0,0,0,0,52,52,52,52,1344,52,52,52,54,52,530,4983,5129,19379,15876,860,683,3229,775,777,607,1033,889,814,688,880,751,682,3794,667,1036,785,4871,635,530

## Drop NaN addresses

In [9]:
df_result = df_result.dropna(subset=['address'])

## Save

In [10]:
df_result.to_csv('/app/data/sales_combo_property_geo_census.csv', index=False)