# Simulate Webapp
- In 04_select_model.ipynb, a XGBRegressor model was trained and saved using summo and Tokyo geolocation data.
- This will be deployed to a webapp. 
- The webapp will accept a used apartment property listing URL from suumo.jp.
- In Django, this URL will be scraped for the model input data.
- The data will be sent to the server running the model and a predicted price will be returned.

In [1]:
import joblib
import pandas as pd

In [2]:
df = pd.read_csv('/app/data/sales_combo_property_geo.csv')

df.drop(["Category","URL","plan","address","features","address_block","converted_address"], axis=1, inplace=True)
df['balcony_area'] = df['balcony_area'].fillna(0)
df = df.dropna()

df.head()

,price,area,balcony_area,level,no_floors,year,rooms,living_room,dining_room,kitchen,storage,latitude,longitude
0,11900000.0,41.34,2.43,2.0,4.0,1979,2,False,True,True,0,35.807181,139.808077
1,13800000.0,16.45,2.69,5.0,9.0,1991,1,False,False,True,0,35.716056,139.787213
2,29800000.0,43.13,4.58,9.0,12.0,1975,2,False,True,True,0,35.725685,139.787644
3,34900000.0,64.96,7.53,4.0,14.0,1984,3,True,True,True,0,35.678826,139.822231
4,41800000.0,54.13,8.92,7.0,10.0,2011,2,True,True,True,0,35.731596,139.816982

In [3]:
X = df.drop(["price"], axis=1)
y = df["price"]

In [4]:
random_index = X.sample(n=1, random_state=42).index
random_row_X = X.loc[random_index]
random_row_y = y.loc[random_index]

random_row_X

,area,balcony_area,level,no_floors,year,rooms,living_room,dining_room,kitchen,storage,latitude,longitude
16340,57.88,9.0,7.0,7.0,1996,2,True,True,True,0,35.72274,139.781199

In [5]:
# # Load a model
model = joblib.load('/app/models/model_sales_price.pkl')

prediction = model.predict(random_row_X)

print(f"Prediction: {prediction[0]:,.0f}. True: {int(random_row_y.iloc[0]):,.0f}")

Prediction: 54,039,208. True: 54,800,000